html {
    height: 100%;
    background-color: rgb(249, 249, 249);
}

body {
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
    background-color: #FFF
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.container {
    width: 83%;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
}

.logo {
    margin-top: -20px;
    float: right;
}

.nav p:first-child {
    margin-top: -20px;
}

.nav p {
    font-weight: bold;
}

.nav p:last-child {
    padding-top: 15px;
}

.nav p span {
    text-decoration: underline;
}

#home {
    font-size: 20px;
    text-align: left;
    padding-top: 170px;
    height: 230px;
    background-color: rgb(249, 249, 249);
}

.welcoming-h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.comments-block {
    display: block;
    margin-top: 10px;
}
.comments-block div {
    display: inline-block;
}
.comments-block div:first-child {
    width:10%;
}
.comments-block div span:first-child {
    margin-right: 10px;
}
#content {
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.box {
    padding-top: 20px;
}

.box div li {
    white-space: nowrap;
    display: inline-block;
    margin-right: 40px;
}

#content div p {
    margin-top: 15px;
    margin-bottom: 30px;
}

hr {
    border: none;
    color: rgb(212, 212, 212);
    background-color: rgb(212, 212, 212);
    height: 1px;
}

#form .container p {
    margin-bottom: 10px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    height: 45px;
    border: 1px rgb(249, 249, 249);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    box-shadow: 0 0 5px rgba(77, 157, 98, 1);
    border: 1px solid rgba(77, 157, 98, 1);
}

.area {
    width: 32.1%;
}

.area textarea {
    padding: 5px;
    margin-top: 15px;
    border-radius: 8px;
    border-top-width: 2px;
    border-top-color: black;
    border-right-width: 2px;
    border-right-color: black;
    border-left-width: 2px;
    border-left-color: black;
    border-bottom-width: 2px;
    border-bottom-color: black;
    resize: none;
    height: 130px;
    width: 100%;
    background-color: rgb(238, 238, 238);
}

textarea:focus {
    box-shadow: 0 0 5px rgba(77, 157, 98, 1);
    border: 1px solid rgba(77, 157, 98, 1);
}

.button {
    margin-top: 10px;
    margin-bottom: 60px;
    float: right;
    text-align: center;
    height: 40px;
    width: 130px;
    background-color: rgb(238, 238, 238);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(77, 158, 98);
}

footer {
    height: 137px;
    background-color: rgb(249, 249, 249);
}

.logo-footer {
    margin-top: 20px;
    margin-bottom: 13px;
    margin-right: 60px;
    float: left;
}

footer .nav {
    margin-top: 20px;
}

footer .nav p {
    margin-bottom: 5px;
}

footer .nav p:first-child {
    margin-top: 30px;
}

footer .nav p:last-child {
    padding-top: 8px;
    font-weight: normal;
}